<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="main-container">
		<section class="top">
			<div class="title">
				<h1>Innovations</h1>
			</div>
		    <div class="free-space">
		    	<div class="lines"></div>
		    </div>
		        <div class="icons">
		        	<div class="icon"></div>
		        	<div class="icon"></div>
		        	<div class="icon"></div>
		        	<figure>
		        		<div class="photo"></div>
		        		<figcaption>Administrator</figcaption>
		        	</figure>
		        </div>  
		</section>
		<div class="container">
			<aside>
				<div class="admin">
					<div class="admin-photo"></div>
					<div class="admin-information">
						<h2>Administrator</h2>
						<div class="admin-status">Online</div>
					</div>
				</div>
				<nav>
					<h3>Main navigation</h3>
					<ul>
						<li><a href="#" class="nav-button">Admins</a></li>
						<li><a href="#" class="nav-button">Users</a></li>
						<li><a href="#" class="nav-button">Cards</a></li>
						<li><a href="#" class="nav-button">Categories</a></li>
					</ul>
				</nav>
			</aside>
			<main>
				<div class="main-header">
				 <h2>Profile</h2>
				 <div class="way">Admin &gt; Profile</div>
				</div>
				<div class="form-area">
				 <form action="#" action="get" class="form">
				  <dl>
					<h3>Edit Username</h3>
					<dt>New username</dt>
					<dd><input type="text" name="username" placeholder="Username" class="input"></dd>
					<dt>Password</dt>
					<dd><input type="password" name="password" placeholder="Password" class="input"></dd>
					<dd><input type="submit" value="Submit" class="blue-button"></dd>
					</dl>
				 </form>
				 <form action="#" action="get" class="form">
				 	<dl>
					<h3>Edit Email</h3>
					<dt>New Email</dt>
					<dd><input type="email" name="email" placeholder="Email" class="input"></dd>
					<dt>Password</dt>
					<dd><input type="password" name="password" placeholder="Password" class="input"></dd>
					<dd><input type="submit" value="Submit" class="blue-button"></dd>
					</dl>
				 </form>
				 <form action="#" action="get" class="form">
				 	<dl>
					<h3>Edit Password</h3>
					<dt>Old Password</dt>
					<dd><input type="password" name="password" placeholder="Password" class="input"></dd>
					<dt>New Password</dt>
					<dd><input type="password" name="password" placeholder="Password" class="input"></dd>
					<dt>Confirm Password</dt>
					<dd><input type="password" name="password" placeholder="Password" class="input"></dd>
					<dd><input type="submit" value="Submit" class="blue-button"></dd>
					</dl>
				 </form>
				 <form action="#" action="get" class="form">
				 	<dl>
					<h3 class="add-file">Edit Image</h3>
					<dd><input type="file" name="image" class="blue-button-file" id="blue-button-file"><label for="blue-button-file"><span>Please open the image</span></label></dd>		
					<dd><input type="submit" value="Submit" class="blue-button"></dd>
					</dl>
				 </form>


				</div>
				<footer>
					<div class="footer-start">Develop by </div>
					<div class="footer-middle">onCreateStudio</div> 
					<time> 2015</time>
				
				</footer>
			</main>
		</div>
	</div>
</body>
</html>
