<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="fonts/helvetica_neue/helvetica_neue.css">
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<header>
		<div class="container">
			<h2>Пупкин Василий Иванович</h2>
			<nav>
				<a href="#">Резюме</a>
				<a href="#">Портфолио</a>
				<a href="#" class="active">Проекты</a>
				<a href="#">Кoнтакты</a>
			</nav>
			<h1>Обо мне</h1><div class="black-line"></div>
			<div class="main-img"></div>
			<div class="about-me">
				 <h3>Пара слов про меня</h3><div class="black-figure">
				</div>
				<div class="description">Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Cum tenetur in numquam minus quam dolor aspernatur minima error illum doloribus molestias veritatis, placeat voluptatum quae, rerum perspiciatis maiores sed. Vitae eligendi culpa ut, dicta ducimus dolorum odit id sint rerum debitis aut, porro commodi odio repudiandae a ipsa qui autem.</div>
				<div class="citation">
					Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Explicabo obcaecati omnis voluptatum voluptatem iusto eum facere illum error modi porro nam ea ratione, perspiciatis magnam, quo ullam, atque repellendus repudiandae?
					<div class="subscribe">иван пупкин,
					 <div class="subscribe-profession">web designer</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
           <div class="practice">
           	  <div class="skills">
           	  	<h3>Мои навыки</h3><div class="black-figure"></div>
           	  	<div class="grey-lines" id="first-grey-line">Photoshop</div>
           	  	<div class="grey-lines" id="second-grey-line">HTML</div>
           	  	<div class="grey-lines" id="third-grey-line">CSS</div>
           	  	<div class="grey-lines" id="fourth-grey-line">JavaScript</div>
           	  	<div class="grey-lines" id="fifth-grey-line">Angular</div>
           	  	<div class="ruler">
           	  		<div class="ruler-parts"></div><div class="ruler-parts"></div><div class="ruler-parts"></div><div class="ruler-parts"></div><div class="ruler-parts"></div>
           	  		<div class="numbers">
           	  		<div class="number">1</div><div class="number">2</div><div class="number">3</div><div class="number">4</div><div class="number">5</div>
           	  		</div>
           	  	</div>
           	  </div>
           	  <div class="activities">
           	  	<h3>Что я делаю</h3><div class="black-figure"></div>
           	  	<div class="activity-description">
           	  		<ul>
           	  			<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempora cum odio nulla sit nisi magnam, voluptas, minima impedit fuga!</li>
           	  			<li>Harum sapiente iste optio eos ipsa esse voluptates voluptatibus asperiores possimus mollitia, ab omnis adipisci totam hic distinctio, sit, quam!</li>
           	  			<li>Quam ratione, impedit et laborum ipsa possimus atque, blanditiis aut, sequi doloribus asperiores earum dicta itaque quaerat unde eius vitae!</li>
           	  			<li>Impedit veniam voluptas praesentium consequuntur harum ipsam omnis enim sapiente error velit odio cumque maxime inventore dolores, totam, rerum illo.</li>
           	  			<li>Et obcaecati ipsa odit maxime consectetur iusto, nostrum repellat pariatur harum illo asperiores rem veniam delectus, minima libero nisi. Magnam.</li>
           	  		</ul>
           	  	</div>
           	  </div>
           </div>
		</div>
	</section>
	<section class="pre-footer">
		<div class="container">
		  <div class="icon"></div>
		  <div class="prefooter-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae possimus blanditiis veritatis ut, dolorem mollitia? Quod ut numquam quo, excepturi beatae inventore, suscipit alias dicta dolorum eum distinctio adipisci est.</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="contacts">
				<h4>Контакты</h4>
				<div class="conect">email</div>
				<div class="conect">моб</div>
			</div>
			<div class="networks">
				<h4>Соцсети</h4>
				<a href="#">Facebook</a>
				<a href="#">VK</a>
				<a href="#">Linledin</a>
			</div>
			<div class="circle">
				<div class="circle-subscribe">Lorem, ipsum.</div>
			</div>
			<div class="footer-subscribe">Hillel, 2021</div>
		</div>
	</footer>
</body>
</html>