<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="main-container">
	<header>
		<div class="container">
			<h2>Leo/-</h2>
			<div class="top-menu">
				<a href="#">Solutions</a>
				<a href="#">Products</a>
				<a href="#">Portfolio</a>
				<a href="#">Contact</a>
			</div>
			<div class="header-img"></div>
			<div class="title">
				<h1>Introducing</h1>
				<h3>Something hot......</h3>
				<a href="#" class="button">Try Demo</a>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<ul>
				<li>
					<div class="icons">
						<div class="icon-img" id="blue-icon"></div>
						<h4>Responsive Websites</h4>
					</div>
				</li>
				<li>
					<div class="icons">
						<div class="icon-img" id="yellow-icon"></div>
						<h4>e Commerce Websites</h4>
					</div>
					<ul class="list-input">
						<li>

								<div class="ipad-img"></div>
								<h4>Lorem Ipsum is simply dummy text </h4>
								<div class="description"><p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Ducimus, quibusdam quidem at, harum numquam voluptate odit eius quaerat dicta hic assumenda recusandae fuga officia qui molestias repellendus consequatur veritatis eum dolorum, doloremque maxime adipisci dolorem saepe quia. Incidunt at qui aut perferendis corporis, optio dolores veritatis eaque commodi sed nostrum eligendi illo illum suscipit, ea facere.</p>
									<p>Vel nostrum consequuntur quae molestiae quisquam animi necessitatibus sapiente consectetur nesciunt, praesentium optio accusantium dignissimos exercitationem, ipsam nulla voluptatum. Dolorum officiis quae, deleniti aut, dicta earum accusamus ut, natus amet unde doloremque!</p>
									<p> Vitae vel molestiae illo consectetur cumque quia suscipit eveniet omnis amet rerum sunt eum quas vero ullam maxime, nulla tenetur nam atque in. Sequi ipsam odio nisi obcaecati voluptatum culpa quasi, possimus incidunt ullam nostrum reprehenderit et dignissimos sapiente quam sint aspernatur aliquam. At, veniam eveniet. Aperiam, reiciendis iste delectus. Deserunt nam et, est fugiat aliquam doloribus nemo, rerum. Quidem laborum itaque cum ea quasi eaque, delectus, temporibus repellendus tempore ab, aspernatur, earum excepturi quae soluta. Repudiandae enim, eaque, quod reprehenderit vero optio fugiat placeat magni quo est fugit totam quos, vel deserunt nam, iure. Cum minima, excepturi voluptate omnis dignissimos eligendi veritatis sed voluptatibus necessitatibus magnam eos in, officia, qui suscipit.</p>
								</div>
						
						</li>
					</ul>
				</li>
				<li>
					<div class="icons">
						<div class="icon-img" id="green-icon"></div>
						<h4>Daily blog Websites</h4>
					</div>
				</li>
				<li>
					<div class="icons">
						<div class="icon-img" id="red-icon"></div>
						<h4>Search based Websites</h4>
					</div>
				</li>
			</ul>
		</div>
	</main>
	<section>
		<div class="container">
			<div class="screen-shot"></div>
			  <div class="advantage-list">
			    <h3>Why choose us ?</h3>
			     <div class="why-choose-list">
				   <ul>
					 <li>Lorem ipsum, dolor sit amet.</li>
					 <li>Lorem ipsum, dolor sit amet.</li>
					 <li>Lorem ipsum, dolor sit amet.</li>
					 <li>Lorem ipsum, dolor sit amet.</li>
					 <li>Lorem ipsum, dolor sit amet.</li>
					 <li>Lorem ipsum, dolor sit amet.</li>
				   </ul>
			   </div>
			  </div>
		</div>
	</section>
	<section>
		<div class="container prefooter">
			<div class="orange-box boxes">
				<h4>Member login</h4>
                <input type="text" placeholder="User name">
                <input type="password" placeholder="Password">
                <input type="submit" value="Log me in." class="form-button">
			</div>
			<div class="blue-box boxes">
				<h4>Subscribe to our weekly newsletter</h4>
                <input type="email" placeholder="email address">
                <input type="submit" value="Subscribe" class="form-button">
			</div>
		</div>
	</section>
	<footer>
		<div class="list-about-us">
			<h4>About us</h4>
			<li><a href="#">About us</a></li>
			<li><a href="#">Why us</a></li>
			<li><a href="#">Customer Stories</a></li>
			<li><a href="#">Press Resources</a></li>
			<li><a href="#">Press Releases</a></li>
		</div>
		<div class="list-about-us">
			<h4>About us</h4>
			<li><a href="#">About us</a></li>
			<li><a href="#">Why us</a></li>
			<li><a href="#">Customer Stories</a></li>
			<li><a href="#">Press Resources</a></li>
			<li><a href="#">Press Releases</a></li>
		</div>
		<div class="footer-text">
			<h4>Testimoanials</h4>
			<div class="footer-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor harum ipsum nobis veritatis earum eligendi facere mollitia beatae minima, consequuntur culpa alias enim explicabo aliquam. Explicabo fugiat consectetur itaque ut libero ducimus, recusandae quidem, voluptate id cum quos quasi quam deleniti saepe, suscipit repudiandae minus!</div>
			<div class="bold-subscribe">Lorem ipsum dolor, sit amet.</div>
		</div>
		<div class="last-colone">
		  <h2>Leo/-</h2>
		   <div class="copy">
			&copy; cssauthor.com
		   </div>
	   </div>
	</footer>
   </div>
</body>
</html>