*{
	padding: 0;
	margin: 0;
	font-family: Helvetica, arial;
}


.main-container{
	width: 100%;
	box-sizing: border-box;
}

section.top{
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 45px;
	background-color: #3c8dbc;
	align-items: center;

}


.top .title{
	flex-shrink: 1;
	width: 210px;



}

h1{
	color: #c9d8e0;
	text-align: center;
	font-size: 20px;
	background-color: #367fa9;
	line-height: 46px;
}


h1::after{
	content: 'adm';
	color: #c9d8e0;
	text-transform: uppercase;
	font-weight: lighter;
}

.top .free-space{
	flex-grow: 4;
	flex-shrink: 20;
	padding-left: 10px;
}


.top .free-space .lines{
	width: 30px;
	height: 30px;
	box-sizing: border-box;

}


.lines::before, .lines::after{
	background-color: #c9d8e0;
	width: 20px;
	height: 3px;
	margin: 4px;
	display: block;
	content: '';
	border-radius: 1px;
}


.lines::before{
	margin-bottom: 11px;
	box-shadow: 0 7px 0 #c9d8e0;
}


.icons{
	width: 270px;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;

}

.icons .icon{
	width: 20px;
	height: 20px;
	background-image: url(img/icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding-right: 5px;
	padding-left: 5px;


}

.icons .photo{
	width: 25px;
	height: 25px;
	background-color: #c9d8e0;
	border-radius: 50%;
	flex-grow: 1;
	margin-right: 10px;
	margin-left: 10px;


}

figure{
	display: flex;
	align-items: center;
	color: #c9d8e0;
	padding-right: 15px;
  
	font-size: 16px;
}


@media screen and (max-width: 600px){
	section.top{
	flex-wrap: wrap;
	height: auto;
	


}

.top .title{
    width: 100%;
  
    line-height: 60px;




}

.icons{
	flex-grow: 2;
	display: inline-flex;
	align-items: center;
	height: 65px;

}

.top .free-space{
	flex-grow: 3;
}


}

.container{
	display: flex;
	

}

aside{
width: 210px;
background-color: #222d32;
display: flex;
flex-direction: column;
flex-wrap: wrap;
flex-shrink: 1;

}

aside .admin{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 5px;


}

.admin .admin-photo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #c9d8e0;
	margin: 5px;


}

.admin .admin-information{
	flex-grow: 2;
	display: flex;
	flex-direction: column;

	
}

.admin h2{
	font-size: 14px;
	color: #c9d8e0;
	line-height: 30px;

}

.admin .admin-status{
	font-size: 10px;
	color: #c9d8e0;
	padding-left: 20px;
	position: relative;

}

.admin-status::before{
	width: 10px;
	height: 10px;
	display: block;
	content: '';
	border-radius: 50%;
	background-color: #315937;
	position: absolute;	
	right: 91%;
}

nav h3{
	line-height: 30px;
	background-color: #1a2226;
	color: #c9d8e0;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	padding-left: 10px;
}


nav a{
	text-decoration: none;
	font-size: 12px;
	color: #c9d8e0;
	padding-left: 40px;
	line-height: 35px;
	
}

nav li{
	position: relative;
}

nav a::before{
	position: absolute;
	content: '';
	background-image: url(img/icon.png);
	width: 20px;
	height: 20px;
	right: 85%;
	top: 5px;
	border-radius: 50%;
	background-color: white;

	background-size: cover;
	background-repeat: no-repeat;
	

}

nav a::after{
	font-size: 12px;
	color: #c9d8e0;
	content: '<';
	position: absolute;
	right: 10px;
}



main{
	flex-grow: 1;
	background-color: #ecf0f5;
	display: flex;
	flex-direction: column;

	flex-wrap: wrap;
    justify-content: center;
	flex-shrink: 20;
			
}

.main-header{
	width: 98%;
	display: flex;


}


main h2{
	width: 50%;
	text-align: left;
	line-height: 50px;
	color: 	#545657;
	font-size: 18px;
	padding-left: 20px;	
	box-sizing: border-box;
	
}

main .way{
	width: 50%;
	text-align: right;
	line-height: 50px;
	color: 	#545657;
	position: relative;
	font-size: 12px;
	margin-right: 20px;
	box-sizing: border-box;
}

main .way::before{
	position: absolute;
	content: '';
	background-image: url(img/icon.png);
	width: 20px;
	height: 20px;
	top: 13px;
	right: 95px;
	background-size: cover;
	background-repeat: no-repeat;
}

.form-area{
	width: 98%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;

}

form.form{
	background-color: white;
	padding: 5px;
	width: 45%;
	box-sizing: border-box;
	margin-bottom: 15px;
	display: flex;
	flex-flow: column;
	color: #545657;
	border-top: 3px solid #d2d6de;
	border-radius: 3px;
	


}

.blue-button{
	width: 70px;
	line-height: 36px;
	color: white;
	background-color: #3689ba;
	border-radius: 4px;
	border: none;
}

input{
	border: 1px solid #e7e9eb;
	height: 30px;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	box-sizing: border-box;


}


.input{
	padding-left: 15px;
	box-sizing: border-box;
}

form h3{
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: normal;
}

form dt{
	font-weight: bold;
	font-size: 14px;

}

input[type='file']{
	display: none;
}

.space{
	height: 30px;
}

input:focus{
	outline: 2px solid #d2d6de;
}


span{
	padding: 10px;
	line-height: 36px;
	color: white;
	background-color: #3689ba;
	border-radius: 4px;
	border: none;

}


h3.add-file{
	padding-bottom: 30px;
}


footer{
	background-color: white;
	height: 50px;
	line-height: 50px;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	letter-spacing: 1px;
	font-weight: bold;
}

.footer-start, time{
	color: #545657;
}

.footer-middle{
	color: #5fa2c8;
}

@media screen and (max-width: 959px) and (min-width: 600px){




main{
	flex-grow: 1;
	background-color: #ecf0f5;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
			
}

.main-header{
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ecf0f5;
	padding-bottom: 30px;

	align-items: center;



}

main h2{
	width: 100%;
	line-height: 35px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 0;

	
}

main .way{
	width: 100%;
	background-color: #d2d6de;
	text-align: left;
	line-height: 30px;
	color: 	#545657;
	font-size: 12px;
    padding-left: 25px;
    margin-right: 0;
}

main .way::before{
	position: absolute;
	content: '';
    top: 3px;
	right: 0;
	left: 5px;
	
}

.form-area{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	
	

}

form.form{
	background-color: white;
	padding: 5px;
	width: 96%;
	box-sizing: border-box;
	margin-bottom: 15px;
	display: flex;
	flex-flow: column;
	color: #545657;


}


}


@media screen and (max-width: 599px){

aside{
	display: none;
}



main{
	flex-grow: 1;
	background-color: #ecf0f5;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
			
}

.main-header{
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	background-color: #ecf0f5;
	padding-bottom: 30px;

	align-items: center;



}

main h2{
	width: 100%;
	line-height: 35px;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 0;

	
}

main .way{
	width: 100%;
	background-color: #d2d6de;
	text-align: left;
	line-height: 30px;
	color: 	#545657;
	font-size: 12px;
    padding-left: 25px;
    margin-right: 0;
}

main .way::before{
	position: absolute;
	content: '';
    top: 3px;
	right: 0;
	left: 5px;
	
}

.form-area{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	
	

}

form.form{
	background-color: white;
	padding: 5px;
	width: 96%;
	box-sizing: border-box;
	margin-bottom: 15px;
	display: flex;
	flex-flow: column;
	color: #545657;


}


}