<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="fonts/Poppins-Medium.css">
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>story</h1>
			<h2>Marcy..</h2>
		</div>
	</header>
	<section  class="story1">
		<div class="container">
			<div class="story1-box">

			<div class="description">
				<h4>travel</h4>
				<h3>Lorem, ipsum, dolor sit amet consectetur adipisicing elit.</h3>
				<div class="story-start">
					<p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quos sunt iure, minima, obcaecati sapiente laudantium placeat voluptatum necessitatibus modi, dolorum illo repudiandae. Doloremque, vero provident.</p>
					<p>Totam ex odio itaque aspernatur praesentium repudiandae, voluptatibus vitae voluptates, quo modi culpa perferendis ea minus explicabo vero adipisci fuga! Voluptatem distinctio iure, ipsa eligendi.</p>
				</div>
				<div class="button"><a href="#">Full story</a><div class="pointer"></div></div>

			</div>
			<div class="photos">
				<div class="big-photo"></div>
				<div class="pink-photo"></div>
			</div>
			</div>
		</div>
	</section>
	<section class="story2">
		<div class="container">
				<div class="grey-photo"></div>
				<div class="titles">
					<h4>Quote</h4>
					<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
				</div>
				<div class="citation-box">
					<div class="citation">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, praesentium officiis eaque blanditiis quia voluptatum adipisci quam eveniet culpa? Odit magnam, quibusdam   pariatur! Minus, saepe."</div>
					<div class="subscribe">ven diesel</div>
					<div class="years">1962-2006</div>
					<div class="button"><a href="#">Full story</a><div class="pointer"></div></div>
					
				</div>
		</div>
	</section>
	<section class="footer-section">
		<div class="container">
			<div class="clients-contact">
				<div class="email-title">Like what you're reading? Get weekly updates that will help you grow as designer</div>
				<form action="#">
					<input type="name" name="name" placeholder="Name" class="clients-name">
					<input type="email" name="email" placeholder="Email" class="clients-email">
					<div class="button"><input type="submit" value="Subscribe"><div class="pointer"></div></div>
					

				</form>
			</div>
		</div>
	</section>
</body>
</html>