<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="style/style.css">
	
</head>
<body>
      <section>
      	<h2 class="title-start">this page is</h2>
      	<h2 class="title-middle">your</h2>
      	<h2 class="title-end">home task</h2>
      	<div class="rectangle-dark" id="upper-dark"></div>
      	<div class="rectangle-dark" id="middle-dark"></div>
      	<div class="rectangle-dark"  id="under-dark"></div>
      	<div class="rectangle-vinecolor" id="right-center-upper"></div>
      	<div class="rectangle-vinecolor" id="right-center-under"></div>
      	<div class="rectangle-vinecolor" id="left-center-upper"></div>
      	<div class="rectangle-vinecolor" id="left-center-under"></div>
      	<div class="redone" id="left-upper-redone"></div>
      	<div class="redone" id="left-middle-redone"></div>
      	<div class="redone" id="left-under-redone"></div>
      	<div class="redone" id="right-upper-redone"></div>
      	<div class="redone" id="right-under-redone"></div>
      	<div class="pinkone" id="right-under-pinkone"></div>
      	<div class="pinkone" id="right-middle-pinkone"></div>
      	<div class="pinkone" id="right-upper-pinkone"></div>
      	<div class="pinkone" id="left-under-pinkone"></div>
      	<div class="pinkone" id="left-middle-pinkone"></div>
      	<div class="pinkone" id="left-upper-pinkone"></div>
      	<div class="lighest" id="right-under-lighest"></div>
      	<div class="lighest" id="right-upper-lighest"></div>
      </section>
</body>
</html>