<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="whole-page">
	<div class="main-container whole-page__main-container">
		<div class="main-container__header header">
			<div class="header__logo"><img src="img/gold-logo.png" alt=""></div>
			<div class="header__title title">
				<h2 class="title_grey">Xman</h2>
				<h2 class="title_red">Bank</h2>
			</div>
			<div class="header__nav links-line">
				<a href="#" class="links-line__link">My Account</a>
				<a href="#" class="links-line__link">Settings</a>
				<a href="#" class="links-line__link">Logout</a>
			</div> 

		</div>
		<nav class="main-container__nav main-nav">
			<div class="main-nav__links nav-links">
				<a href="#" class="nav-links__link link">Home</a>
				<a href="#" class="nav-links__link link">About us</a>
				<a href="#" class="nav-links__link link">Our services</a>
				<a href="#" class="nav-links__link link">Deposits</a>
				<a href="#" class="nav-links__link link">FAQs</a>
				<a href="#" class="nav-links__link link">Contact us</a>
			</div>
			<div class="main-nav__contacts">
				Call us: (2457) 555 222 333
			</div>
		</nav>
		<div class="main-container__section banner-section">
			<div class="banner-section__banner banner">
				<div class="banner__title">
				<h3 class="banner__title_upper"> All digital gold is</h3>
				<h1 class="banner__title_middle">backed 100%</h1>
				<h3 class="banner__title_down">by visible gold in vault  <br>audited every day. </h3>
				</div>
				<div class="banner__img"></div>
			</div>

				<form action="#" class="banner-section__form form">
					<h4 class="form__title">customer login</h4>
					<input type="text" placeholder="User name" name="name" class="form__input-area">
					<input type="password" name="pass" placeholder="Password" class="form__input-area">
					<div><input type="checkbox">
					<label>
						<span class="form__checkbox-subscribe">Remember me</span>
					</label></div>
					<a href="#" class="form__link link">Forget your password</a>
					<input type="submit" value="Log In" class="form__button form__button_shadow">
					<h4>Not a member?</h4>
					<a href="#" class="form__button ">Open an account</a>
				</form>
		</div>
		<section class="main-container__content content-part">
			<div class="content-part__description">
				<div class="content-part__title title"> 		
				<h3 class="title_grey">Our</h3>
				<h3 class="title_red">Specialties</h3>
				</div>
				<ul class="content-part__list">
					<li class="content-part__list-part">Lorem ipsum, dolor sit amet consectetur.</li>
					<li class="content-part__list-part">Lorem ipsum, dolor sit amet consectetur.</li>
					<li class="content-part__list-part">Lorem ipsum, dolor sit amet consectetur.</li>
					<li class="content-part__list-part">Lorem ipsum, dolor sit amet consectetur.</li>
					<li class="content-part__list-part">Lorem ipsum, dolor sit amet consectetur.</li>
				</ul>
			</div>
			<div class="content-part__schema">
				<div class="content-part__title title">
			<h3 class="title_grey">How it </h3>
				<h3 class="title_red">works</h3>
				</div>
				<img src="img/schema.jpg" alt="" class="content-part__img">	
			</div>	
		</section>
	</div>
	<footer class="whole-page__footer footer">
			<div class="footer__subscribe_bold">100% secure</div>
			<div class="footer__subscribe_thin">
				Copyright &copy; 2013   Cssauthor.com
			</div>
	</footer>
   </div>
</body>
</html>