<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="fonts/Open_Sans/open_sans.css">
	<link rel="stylesheet" href="style/style.css">
</head>
<body>
	<header>
		<div class="container">
			<nav>
				<a href="#" class="active">Home</a>
				<a href="#">Portfolio</a>
				<a href="#">About us</a>
				<a href="#">Contact</a>
			</nav>
			<div class="present">
				<div class="head">
					<h1>Our strong organisation</h1>
					<div class="description">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Delectus quia sunt omnis cum facilis unde similique! Non laboriosam soluta incidunt.</div>
					<a href="#" class="button">Contact Us</a>
				</div>
				<div class="video">
					<iframe class="video-content" src="https://www.youtube.com/embed/kwPqZyS2ttA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="last-line"></div>
			</div>
		</div>
	</header>
	<section class="we-provide">
		<div class="container">
			<div class="provide">
				<h2>Do you know we can provide for you?</h2>
				<div class="description">Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Delectus quia sunt omnis cum facilis unde similique! Non laboriosam soluta incidunt.</div>
				<a href="#" class="button">Lern more</a>
			</div>
			<div class="services">
				<div class="management">
					<div class="img-setting"></div>
					<h3>Management</h3>
					<div class="description-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi architecto perspiciatis rem quisquam eius vel, ipsa exercitationem consectetur ea?</div>
				</div>
				<div class="design">
					<div class="img-pencil"></div>
					<h3>UI/UX Design</h3>
					<div class="description-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi architecto perspiciatis rem quisquam eius vel, ipsa exercitationem consectetur ea?</div>
				</div>
				<div class="logo">
					<div class="img-diamond"></div>
					<h3>Logo/Branding</h3>
					<div class="description-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi architecto perspiciatis rem quisquam eius vel, ipsa exercitationem consectetur ea?</div>
				</div>
				<div class="animation">
					<div class="img-truck"></div>
					<h3>Animation</h3>
					<div class="description-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nisi architecto perspiciatis rem quisquam eius vel, ipsa exercitationem consectetur ea?</div>
				</div>
			
			</div>
		</div>
	</section>
	<section class="feature-products">
		<div class="container">
			<div class="line"></div>
			<h2>Feature products</h2>
			<div class="description-products">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Necessitatibus labore ipsum adipisci voluptatem ipsam dignissimos blanditiis</div>
			<div class="red-line"></div>
			<nav>
				<a href="#" class="active">All</a>
				<a href="#">Print template</a>
				<a href="#">Web template</a>
				<a href="#">User interface</a>
				<a href="#">Mock-up</a>
			</nav>
			<div class="images">
				<div class="image"></div>
				<div class="image"></div>
				<div class="image"></div>
				<div class="image-last"></div>
				<div class="image"></div>
				<div class="image"></div>
				<div class="image"></div>
				<div class="image-last"></div>
			</div>		
		</div>
	</section>
	<section class="our-team">
		<div class="container">
		<h2>
			Meet our team
		</h2>
		  <div class="description">
			Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Itaque ducimus commodi explicabo obcaecati aut quisquam neque dignissimos. Neque illum facere voluptate, doloremque culpa officiis velit libero. Quasi, aspernatur, et, dolore totam enim tenetur, veniam unde qui voluptatibus optio neque adipisci!
		  </div>
		  <div class="red-line"></div>
		  <div class="main-photo"></div>
		  <div class="mark-waug">
		  	<h3>Mark waug</h3>
		  	<div class="description">Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Est, enim.</div>
		  	<div class="social">
		  		<a href="#">Facebook</a>
		  		<a href="#">Dribble</a>
		  		<a href="#">Behans</a>
		  		<a href="#">Twiter</a>
		  	</div>
		  	<div class="other-photos">
		  		<div class="other-photo"></div>
		  		<div class="other-photo"></div>
		  		<div class="other-photo"></div>
		  		<div class="last-other-photo"></div>
		  	</div>
		  </div>
		</div>
	</section>
	<section class="email">
		<div class="container">
			<h2>Design tips, tricks and freebies. Delivered weekly.</h2>
			<div class="description">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci enim accusantium quia rerum ducimus magnam.
			</div>
			<form action="#" method="get">
				<input type="email" name="email" placeholder="email adress.." class="email-area">
				<input type="submit" value="subscribe" class="button-area">
			</form>
		</div>
	</section>
	<section class="message">
		<div class="container">
			<div class="get-in-touch">
			   <h2>Get in touch</h2>
			   <div class="description">
				Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Fugit voluptas, tempore provident fuga perspiciatis nesciunt, illum ad consequatur sed deleniti distinctio, nobis, deserunt molestias. Tempora velit, assumenda quisquam, omnis natus, quasi, quo nam et exercitationem reprehenderit odit aliquid ad delectus.
			   </div>
			   <div class="red-line"></div>
			   <form action="#" method="get">
			   	 <input name="name" type="text" placeholder="Name" class="your-name">
			   	 <input name="email" type="email" placeholder="Your Mail" class="your-mail">
			   	 <textarea name="Message" placeholder="Type tour message" class="your-message"></textarea>
			   	 <input type="submit" value="send message" class="send">
			   </form>
			   
			</div>
			<div class="contact">
				<h4>Contact info</h4>
				<div class="our-adress">Jalalabad 24 / A, Ambaarkhana, Sylhet,  Bangladesh</div>
				<div class="our-email">redwan@deviserweb.com</div>
				<div class="our-phone">(+88) 017 617 46373</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="copyright">&copy; Copyright @Junaed 2016, All rights reserved.</div>
			<div class="icons">
				<div class="twitter"></div>
				<div class="in"></div>
				<div class="google"></div>
				<div class="facebook"></div>
			</div>
		</div>
	</footer>
</body>
</html>